<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserMapper" >



    <insert id="insertOnePermission">
        insert into user (component,parent_id,title,path,icon)values(#{component},0,#{title},#{path},#{icon})
    </insert>

</mapper>
